pnpm-lock.json

# db
prisma/migrations

# dependencies
node_modules 

# testing

# production
dist

# misc
.DS_Store
*.pem

# debug
*.log*

# env files
.env

# typescript
*.tsbuildinfo
next-env.d.ts

